body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  border: solid thin;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
}

.container > div {
  height: 50px;
  display: flex;
  margin: 10px;
  gap: 10px;
}

#display {
  border: solid;
  font-size: 40px;
  overflow: hidden;
}

.container > div > button {
  width: 25%;
  height: 100%;
  font-size: 1.2rem;
}

.container > div:nth-child(2) > button:first-child {
  flex-grow: 2;
}

.container > div:last-child > button:first-child {
  flex-grow: 1;
}

.bold-operator {
  background-color: black;
  color: white;
}